@CHARSET "UTF-8";

/* ナビゲーション */
.hu-pagenavi {
  clear: both;
}
.hu-pagenavi a, .hu-pagenavi span {
  text-decoration: none;
  border: 1px solid #BFBFBF;
  padding: 3px 5px;
  margin: 2px;
}
.hu-pagenavi a:hover, .hu-pagenavi span.current {
  border-color: #000
}
.hu-pagenavi span.current {
  font-weight: bold;
}
.hu-pagenavi span.disabled {
  display : none;
}